<% @title = "Search Results for #{@q}" %>

<div id="sidebar" class="col-md-3 col-sm-4">
  <div class="facets sidenav">
    <h3> Limit your search </h3>

    <%= render 'shared/filters/generic_filter', filter_counts: @access_counts, filter: 'access', filter_sym: :access %>
    <%= render 'shared/filters/generic_filter', filter_counts: @action_counts, filter: 'action', filter_sym: :item_action %>
    <%= render 'shared/filters/generic_without_counts_filter', filters: @event_types, filter: 'event_type', filter_sym: :event_type %>
    <%= render 'shared/filters/generic_filter', filter_counts: @format_counts, filter: 'format', filter_sym: :file_format %>
    <% if @result_type == 'event' %>
        <%= render 'shared/filters/institution_without_counts_filter' %>
    <% else %>
        <%= render 'shared/filters/institution_filter' %>
    <% end %>
    <%= render 'shared/filters/generic_without_counts_filter', filters: @outcomes, filter: 'outcome', filter_sym: :outcome %>
    <%= render 'shared/filters/queued_filter' %>
    <%= render 'shared/filters/generic_filter', filter_counts: @node_counts, filter: 'node', filter_sym: :remote_node %>
    <%= render 'shared/filters/retry_filter' %>
    <%= render 'shared/filters/generic_filter', filter_counts: @stage_counts, filter: 'stage', filter_sym: :stage %>
    <%= render 'shared/filters/state_filter' %>
    <%= render 'shared/filters/generic_filter', filter_counts: @status_counts, filter: 'status', filter_sym: :status %>
  </div>
</div>

<div id="content" class="col-md-9 col-sm-8">
  <h2 class="top-content-title">Search Results</h2>
  <%= render 'shared/search_breadcrumb' %>
  <%= render 'shared/sort_and_per_page' %>
  <hr>
  <%- if @paged_results.empty? %>
      <%= render 'shared/zero_results' %>
  <%- else %>
      <%= render 'shared/search_results' %>
  <%- end %>
  <%= render 'shared/compact_pagination' %>
</div>


